<template>
    <div>
        <input type="file" v-on:change="readFileAsJson">
        <!-- <span>
            <p>x-axis-values:</p>
            <select v-on:change="NoticeX">
                <option v-for="key in keyList">{{key}}</option>
            </select>
        </span> 
        <span>
            <p>y-axis-values:</p>
            <select v-on:input="NoticeY">
                <option v-for="key in keyList">{{key}}</option>
            </select>
        </span>  -->
        <div id="pl"></div>
        <div id="dataid"></div>
    </div>
</template>


<script lang="ts">
import {Vue,Component,Watch} from 'vue-property-decorator';
import * as plotly from 'plotly.js-dist';
import * as Linq from 'linq';
// import * as linq from 'linq';

@Component
export default class VM extends Vue {

    public keyList: string[] = new Array<string>();
    public tmp: string ='';
    private jsonData?: { [key: string]: any};

    xKey?: any;

    public get xValue() : string[] | number[] | null | string{
        console.log(this.jsonData![this.xKey]);
        if (!this.jsonData) {
            return "";
        }
        return this.jsonData![this.xKey];
    }
    
    yKey?: string;
    y2Key?: string;
    zKey?: string;
    GearIDKey?: string;
    RoleIDKey?: string;

   
    NoticeX(event: any) {
        this.xKey = event.target.value;
        this.drow2D();
    }

    NoticeY(event: any) {
        this.yKey = event.target.value;
        this.drow2D();
    }

    /**
     *ファイルをcsvデータとして読み込んでplotly chart へ描画する 
     */
    public readFile(event: any): void {
        const file = event.target.files[0];

        const reader = new FileReader();
        reader.onload = (e) => {

            const resultString = e.target!.result as string;
            const list = resultString.split('\n');
            const csvData: {[key: string]: number[]} = {};

            const buf: Array<number[]> = [];

            for (let index = 0; index < list[0].split(',').length; index++) {
                const element = list[0].split(',')[index] as string;
                csvData[element] = [];
                buf.push(new Array<number>());
            }

            for (let index = 1; index < list.length; index++) {
                const element = list[index];
                const strDatas = element.split(',');

                for (let i2 = 0; i2 < strDatas.length; i2++) {
                    const e2 = strDatas[i2];
                    buf[i2].push(Number.parseFloat(e2));
                }
            }
            

            const datas = [
                {
                    x: buf[0],
                    y: buf[1],
                    z: buf[2],
                    type: "scatter3d",
                    "marker.size": 2,
                    hoverinfo: "text",
                    marker: {
                        size: 1
                    },
                    text: "ao",
                    mode:"markers"
                } as plotly.ScatterData,
            ];

            const layout = {
                width: window.innerWidth,
                height: window.innerHeight,
                // paper_bgcolor: '#000',
                plot_bgcolor: '#909',
            } as plotly.Layout

            plotly.newPlot('pl', datas, layout);

            console.log(buf);
        }
        reader.readAsText(file);
    }

    /**
     * ファイルをjsonファイルとしてパースします
     */
    public readFileAsJson(event: any):void {
        const fileName = event.target.files[0];

        const reader = new FileReader();
        reader.onload = (e: FileReaderProgressEvent) => {
            const resultString = e.target!.result as string;
            this.jsonData = JSON.parse(resultString);
            console.log(this.jsonData);

            for (const key in this.jsonData!) {
                if (this.jsonData!.hasOwnProperty(key)) {
                    const element = this.jsonData![key];
                    this.keyList!.push(key);
                }
            }
            // this.xKey = "VirtualRole";
            // this.yKey = "OnPlsWave";
            // this.y2Key = "RobotAnalog";

            this.xKey       = "RoleDegrees";
            this.yKey       = "GearPhaseWave";
            this.y2Key      = "SplittingLine";
            this.GearIDKey  = "GearPhaseWave_ID";
            this.RoleIDKey  = "RoleDeglrees_ID";

            this.drow2D_byID();
            this.drow2D();
        }
        reader.readAsText(fileName);
    }

    public drow2D_byID(){

        
        // if (this.xKey && this.yKey && this.y2Key) {
            if (this.xKey && this.GearIDKey && this.RoleIDKey) {
                
            try {
                let idexList = Linq
                .from(this.jsonData![this.GearIDKey!])
                .select((val, idx) => idx)
                .toArray();

                const datas = [
                    {
                        x: idexList,
                        // x: this.jsonData![this.xKey],
                        y: this.jsonData![this.GearIDKey],
                        type: "scatter",
                        // name: "Contec",
                        name: "Gear Phase ID",
                        marker: {
                            size: 1,
                        },
                        mode:"lines+markers"
                    } as plotly.ScatterData,
                    {
                        x: idexList,
                        // x: this.jsonData![this.xKey],
                        y: this.jsonData![this.RoleIDKey],
                        type: "scatter",
                        // name: "Analog Bord",
                        name: "Role ID",
                        marker: {
                            size: 1,
                        },
                        mode:"lines+markers"
                    } as plotly.ScatterData,
                ];

                const layout = {
                    // width: window.innerWidth/ 2,
                    // height: window.innerHeight/ 2,
                    width: window.innerWidth,
                    height: window.innerHeight,
                    // yaxis: {
                    //     range: [-5.0, 0],
                    //     title: "電圧[V]"
                    // },
                    xaxis: {
                        title: "データ Index"
                    },
                    paper_bgcolor: '#fff',
                    legend: {
                        bgcolor: "#fff",
                    }
                    // plot_bgcolor: '#909',
                } as plotly.Layout

                plotly.newPlot('dataid', datas, layout);
            } catch (error) {
                alert(error);
            }
            
        }
    }

    public drow2D(){
        // if (this.xKey && this.yKey && this.y2Key) {
        if (this.xKey && this.yKey && this.y2Key) {
            const datas = [
                {
                    x: this.jsonData![this.xKey],
                    y: this.jsonData![this.yKey],
                    type: "scatter",
                    // name: "Contec",
                    name: "Analog",
                    marker: {
                        size: 1,
                    },
                    mode:"lines+markers"
                } as plotly.ScatterData,
                {
                    x: this.jsonData![this.xKey],
                    y: this.jsonData![this.y2Key],
                    type: "scatter",
                    // name: "Analog Bord",
                    name: "Average",
                    marker: {
                        size: 1,
                    },
                    mode:"lines+markers"
                } as plotly.ScatterData,
            ];

            const layout = {
                // width: window.innerWidth/ 2,
                // height: window.innerHeight/ 2,
                width: window.innerWidth,
                height: window.innerHeight,
                yaxis: {
                    range: [-5.0, 0],
                    title: "電圧[V]"
                },
                xaxis: {
                    title: "ツールRole角度[degree]"
                },
                paper_bgcolor: '#fff',
                legend: {
                    bgcolor: "#fff",
                }
                // plot_bgcolor: '#909',
            } as plotly.Layout

            plotly.newPlot('pl', datas, layout);
        }
    }

    public drow3D(){
        if (this.xKey && this.yKey && this.zKey) {
            const datas = [
                {
                    x: this.jsonData![this.xKey],
                    y: this.jsonData![this.yKey],
                    z: this.jsonData![this.zKey],                    
                    type: "scatter3d",
                    "marker.size": 2,
                    hoverinfo: "text",
                    marker: {
                        size: 1
                    },
                    text: "ao",
                    mode:"markers"
                } as plotly.ScatterData,
            ];

            const layout = {
                width: window.innerWidth,
                height: window.innerHeight,
                // paper_bgcolor: '#000',
                plot_bgcolor: '#909',
            } as plotly.Layout

            plotly.newPlot('pl', datas, layout);
        }
    }

}
</script>



<style>
#pl {
    margin: 0;
    height: 600px;
    width: 600px;
    background: rgb(94, 106, 117);
}
</style>
