<template>
    <div id="d3-area">
        <h1>Sample Project Page</h1>

        <div id="plot-area" style="float:right">
            <div id="one-path-area">
                <p>1 Path</p>
                <div id="one-path"></div>
            </div>

            <div id="full-path-area">
                <p>Full Path</p>
                <div id="full-path"></div>
            </div>
        </div>
                <!-- <div class="columns">
                    <div class="column">1</div>
                    <div class="column">2</div>
                    <div class="column">3</div>
                    <div class="column">4</div>
                    <div class="column">5</div>
                </div> -->
        <div id="input-area" style="float: left;">
                <ul style="float: left;">
                    <li><p>module : {{module}}</p><input v-model="module"></li>
                    <li><p>toothNum :{{toothNum}}</p><input v-model="toothNum"></li>
                    <li><p>pressAngle :{{pressAngle}}</p><input v-model="pressAngle"></li>
                    <li><p>dislocation :{{dislocation}}</p><input v-model="dislocation"></li>
                </ul>
                <ul style="float: right;">
                    <li><p>filletRad :{{filletRad}}</p><input v-model="filletRad"></li>
                    <li><p>toothLength :{{toothLength}}</p><input v-model="toothLength"></li>
                    <li><p>slopeAngle :{{slopeAngle}}</p><input v-model="slopeAngle"></li>
                    <li><p>cChamfer :{{cChamfer}}</p><input v-model="cChamfer"></li>
                </ul>
        </div>

        <!-- <div>
            <p>D3 Area</p>
            <p><button @click="drow_plot()">Drow Plotly</button></p>
            <p><button type="primary" @click="make_path('./api/makepath')">Primary</button></p>
            <p><button @click="get_random('./api/random')">Get Random Value</button></p>
            <p>the value is : {{ count }}</p>
            <p>{{count}}</p>
            <p><button @click="start_capture('./api/capture', 100)">start capture</button></p>
            <p><button @click="captureStop('./api/release')">release camera</button></p>
            <div id="drow-area"></div>
            <p>{{camState}}</p>
        </div> -->


    </div>
</template>

<script lang="ts">
import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
import axios from 'axios';
import * as Plotly from 'plotly.js-dist';
// import ElementUI from 'element-ui'
// import 'element-ui/lib/theme-default/index.css'

@Component
export default class MainPage extends Vue {

    count: number = 0;
    camState: string = '';
    intervalId: number = -1;
    isCapturing: boolean = false;

    @Prop() module:number       =2.5;
    @Prop() toothNum:number     =75;
    @Prop() pressAngle:number   =20.0;
    @Prop() dislocation:number  =0.574;
    @Prop() filletRad:number    =0.081;
    @Prop() toothLength:number  =2.25;
    @Prop() slopeAngle:number   =0.0;
    @Prop() cChamfer:number     =0.0;


    public get gearParam() : object {
        const gearData = {
            module:       this.module,
            toothNum:     this.toothNum,
            pressAngle:   this.pressAngle,
            dislocation:  this.dislocation,
            filletRad:    this.filletRad,
            toothLength:  this.toothLength,
            slopeAngle:   this.slopeAngle,
            cChamfer:     this.cChamfer
        }

        return gearData;
    }

    @Watch('gearParam')
    onGearParamChange(newValue:object, oldValue:object):void {
        console.log(newValue);
        axios.post('./api/makepath', newValue)
        .then((res)=>{
            this.drow_plot2D(res.data.onedata, 'one-path');
            this.drow_plot2D(res.data.fulldata, 'full-path');
        }).catch((err) => {
            console.log(err);
        });
    }

    public drow_plot():void {

        const trace : any = {

            // x: ['giraffes', 'orangutans', 'monkeys'],
            x: [33, 66, 43],
            y: [20, 14, 23],
            z: [20, 14, 23],
            mode: 'markers',
            type: 'scatter3d'
        };

        Plotly.newPlot('plot-area', [trace]);


        // var data: any = [{
        //     type: "cone",
        //     x: [1], y: [1], z: [1],
        //     u: [1], v: [1], w: [0]
        // }];

        // var layout = {
        //     "scene": {
        //         "camera": {
        //         "eye": {x: -0.76, y: 1.8, z: 0.92}
        //         }
        //     }
        // };

        // Plotly.plot('plot-area',data,layout);

    }

    public drow_plot2D(data:object, areaId:string):void {

        const trace : any = {

            // x: ['giraffes', 'orangutans', 'monkeys'],
            x: data['x'],
            y: data['y'],
            mode: 'lines',
            type: 'scatter'
        };

        const layout = {
            width: 500,
            height: 500,
            xaxis: {
                visible: false
            },
            yaxis: {
                visible: false
            }
        }

        Plotly.newPlot(areaId, [trace], layout);

    }

    public get_random(address: string):void {
        this.getRandomFromBackend(address);
    }

    public make_path(url:string):void {
        const data_ = {
            "data": {
                "No": 1,
                "Name": "pechi"
            }
        };

        axios.post(url, data_)
        .then((res)=>{
            alert(res.data.data);
        }).catch((err) => {
            console.log(err);
        });
    }

    public get_C(address: string):void {
        axios.get(address)
        .then(res => {
            console.log(res.data);
            this.count = res.data.numbers[1];
        })
        .catch(err => {
            console.log(err);
        });
    }

    public start_capture(url: string, miliSec: number):void {

        if (this.isCapturing == false) {
            this.intervalId = window.setInterval(()=> {
                this.capture(url);
            }, miliSec);

            this.isCapturing = true;
        }
    }

    private capture(url: string):void {

        axios.get(url)
        .then(res => {
            this.Base64ToImage(res.data.value, "drow-area");
        })
        .catch(err => {
            console.log(err);
        });
    }

    public captureStop(url: string):void {
        if (this.isCapturing) {

            clearInterval(this.intervalId);
            axios.get(url)
            .then(res => {
                this.camState = res.data.value;
                this.isCapturing = false;
            })
            .catch(err => {
                console.log(err);
            });
        }
    }

    private Base64ToImage(base64img: string, idName:string) {
        // console.log(base64img);
        var img = new Image();
        img.onload = function() {
            // <img>要素にすることで幅・高さがわかります
            // alert("w=" + img.width + " h=" + img.height);
            // <img>要素としてDOMに追加
            const drowArea = document.getElementById(idName);
            drowArea!.textContent = null;
            drowArea!.appendChild(img);
        }
        img.src = base64img;
    }

    private getRandomFromBackend (address: string): void {
      axios.get(address)
        .then(res => {
            console.log(res.data);
            this.count = res.data.value;
            console.log(this.count);
            this.$forceUpdate();
        })
        .catch(err => {
            console.log(err);
        });
    }
}

</script>


<style>
/* @import 'bulma/css/bulma.css'; */

div {
    /* background: black; */
    color: black;
    /* height: 100%; */
    /* padding: 10%; */
}

#one-path-area {
    float: left;
}
#full-path-area {
    float:right
}
</style>
