<template>
  <div id="app">
    <MainPage></MainPage>
    
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import MainPage from './views/MainPage.vue';

@Component({
  components: {
    MainPage
  },
})

export default class App extends Vue {


  module:number       =2.5;
  toothNum:number     =75;
  pressAngle:number   =20.0;
  dislocation:number  =0.574;
  filletRad:number    =0.081;
  toothLength:number  =2.25;
  slopeAngle:number   =0.0;
  cChamfer:number     =0.0;
}

</script>


<style>

/* @import "../node_modules/bulma/bulma.sass"; */


#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  width: 100%;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
