<template>
    <div>
        <p>Hello</p>
        <input type="file" v-on:change="readFile">
        <textarea name="" id="" cols="30" rows="10" v-model="tmp"></textarea>
    </div>
</template>


<script>
export default {
    name: 'VM',
    data: function(){
        return {
            tmp: '',
        };
    }, 
    methods: {
        readFile: (event) => {
            const file = event.target.files[0];
            console.log("event", event);
            console.log('file', file);

            const reader = new FileReader();
            const vm = this;
            
            reader.onload = (e) => {
                console.log(e.target.result);
                vm.tmp = e.target.result;
            }

            
            reader.readAsText(file);
        }
    }
}
</script>


<style>

</style>
