<template>
    <div>
        <p>hello</p>
        <div id="three-area"></div>
        <select v-on:input="changeMaterial($event.target.value)">
            <option v-for="name in names">{{name}}</option>
        </select>
        <p>Position X: <input type="range" max="360" v-model="positionX">{{positionX}}</p>
        <p>Position Y: <input type="range" max="360" v-model="positionY">{{positionY}}</p>
        <p>Position Z: <input type="range" max="360" v-model="positionZ">{{positionZ}}</p>
        <p>Rotate X: <input type="range" max="360" v-model="rotateX">{{rotateX}}</p>
        <p>Rotate Y: <input type="range" max="360" v-model="rotateY">{{rotateY}}</p>
        <p>Rotate Z: <input type="range" max="360" v-model="rotateZ">{{rotateZ}}</p>
       
    </div>
</template>

<script lang="ts">

import {Vue,Component,Prop,Watch,Emit} from 'vue-property-decorator';
import ThreeRenderer from '../api/three_render';

@Component
export default class MainPage extends Vue {
    private renderer: ThreeRenderer = new ThreeRenderer('three-area');

    public changeMaterial(name: string): void {
        this.renderer.materialChage(name);
    }

    public get names(): string[] {
        return this.renderer.materialNames;
    }

    public set positionX(val: number) {
        this.renderer.Box.position.x = this.deg2rad(val);
    }
    public get positionX(): number {
        return this.rad2deg( this.renderer.Box.position.x);
    }

    public set positionY(val: number) {
        this.renderer.Box.position.y = this.deg2rad(val);
    }
    public get positionY(): number {
        return this.rad2deg(this.renderer.Box.position.y);
    }

    public set positionZ(val: number) {
        this.renderer.Box.position.z = this.deg2rad(val);
    }
    public get positionZ(): number {
        return this.rad2deg(this.renderer.Box.position.z);
    }
    public set rotateX(val: number) {
        this.renderer.Box.rotation.x = this.deg2rad(val);
    }
    public get rotateX(): number {
        return this.rad2deg( this.renderer.Box.rotation.x);
    }

    public set rotateY(val: number) {
        this.renderer.Box.rotation.y = this.deg2rad(val);
    }
    public get rotateY(): number {
        return this.rad2deg(this.renderer.Box.rotation.y);
    }

    public set rotateZ(val: number) {
        this.renderer.Box.rotation.z = this.deg2rad(val);
    }
    public get rotateZ(): number {
        return this.rad2deg(this.renderer.Box.rotation.z);
    }

    private deg2rad(deg: number): number {
        return deg * Math.PI / 180.0;
    }

    private rad2deg(rad: number): number {
        return rad * 180.0 / Math.PI;
    }

    mounted(): void {
        this.renderer.Init();
    }
}
</script>


<style>

</style>
