<template>
  <div id="app">
    <h1>File Server</h1>
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view/> -->
    <input type="file" multiple @change="onload($event);">
      <template v-for="item in filenames">
        <p>ファイル名: {{item}}</p>
      </template>
    
    <button @click="send">Server へ 送信</button>
    <div id="prev"></div>
  </div>
</template>

<script lang="ts">

import { Vue,Prop,Emit,Component } from "vue-property-decorator";
import IImageFile from './model/IImageFile';
import * as axios from 'axios';

const ip: string ='127.0.0.1';
const port: number = 8090;

const client = axios.default.create({
  baseURL: `http://${ip}:${port}`,
} as axios.AxiosRequestConfig);

export default class App extends Vue {

  ImageFiles: IImageFile[] = [];
  filenames: string[] = [];

  onload(event: any) {

    const files = event.target.files as FileList;

    for (let i = 0; i < files.length; i++) {
      const file = files[i];

      console.log(file.type, file.name, file.size);
      
    }

    this.handleFiles(files);
  }

  public send(): void {
    if (this.ImageFiles) {
      const param = JSON.stringify(this.ImageFiles[0]);

      console.log(param);

      // client.post('/api/pic', param)
      axios.default.post('/api/save', param)
      .then((res) => {
        console.log('Send OK: ', res.data);
      })
      .catch((err) => {
        console.error('Send error: ', err);
      });
    }
  }

  
  cansend: boolean = false;

  handleFiles(files: FileList) {
    console.log(this.cansend);
    this.filenames = [];
    for (var i = 0; i < files.length; i++) {
      var file = files[i];
      var imageType = /image.*/;
      
      // if (!file.type.match(imageType)) {
      //   continue;
      // }
      console.log(file);
      // this.filenames.push(file.name);
      Vue.set(this.filenames, this.filenames.length, file.name);
      // this.$set(this.filenames, this.filenames.length, file.name);

      // var img = document.createElement("img");
      // img.classList.add("obj");
      // const preview = document.getElementById('prev');
      // preview!.appendChild(img);
      
      var reader = new FileReader();
      // reader.onload = (function(aImg) { return function(e) { aImg.src = e.target.result; }; })(img);
      reader.onload = (prog: ProgressEvent) => {

        const t = prog.target as any;
        const result = t.result as string;
        // img.src = t.result;
        console.log(t.result);
        const rgs = /data:.*\/.*;base64,/;
        var buf: string = result.replace(rgs ,'' );

        const imageFile = {
          filename: file.name,
          type: file.type,
          data: buf,
        } as IImageFile;

        // const param = JSON.stringify(imageFile);
        const param = imageFile;

        // const param = JSON.stringify({
        //   mode: 'test',
        //   name: 'pechi',
        // });

        console.log('param', param);

        // client.post('/api/pic', param)
        axios.default.post('/api/save', param)
        .then((res) => {
          console.log('Send OK: ', res.data);
        })
        .catch((err) => {
          console.error('Send error: ', err);
        });

        // this.$set(this.ImageFiles, this.ImageFiles.length, imageFile);
        Vue.set(this.ImageFiles, this.ImageFiles.length, imageFile);
        this.ImageFiles.push(imageFile);
        console.log(this.filenames.length, this.ImageFiles.length);
        console.log(this.cansend);
        console.log('ImageFiles: ', this.ImageFiles);
      }
      reader.readAsDataURL(file);
      this.cansend = true;
    }
}

}
</script>


<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
