<template>
  <div>
    <!-- <div id="nav">
      <router-link to="/">Main</router-link>
    </div> -->
    <!-- <router-view/> -->
    <MainPage></MainPage>
  </div>
</template>


<script lang="ts">
import {Vue, Component} from 'vue-property-decorator';
import MainPage from './views/Mainpage.vue';

@Component({
  components: {
    MainPage,
  }
})
export default class App extends Vue {
  
}
</script>



<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
